.container{
    margin-top:20%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 20px
}
button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }